@layer base {
  html,
  body {
    scroll-behavior: smooth;
    font-size: 18px;
  }
  #app {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
  }
  button {
    cursor: pointer;
  }
}
