@layer global {
  h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
  }

  h2 {
    font-size: clamp(1.25rem, 3vw, 2rem);
  }

  h3 {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
  }

  body {
    font-size: clamp(0.95rem, 1.2vw, 1.1rem);
  }
}
